.card {
  position: relative;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  margin-bottom: 10px;
}

.card__image:hover {
  cursor: pointer;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-wrap: nowrap;
}

.card__title {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: rgba(33, 33, 33, 1);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 268px;
}

.card__like-btn {
  background-image: url(../images/Union.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  opacity: 40%;
}

.card__like-btn:hover {
  opacity: 1;
  cursor: pointer;
}

.card__like-btn_liked {
  background-image: url("../images/State=Liked.svg");
  opacity: 1;
  mix-blend-mode: multiply;
}

.card__like-btn_liked:hover {
  background-image: url("../images/State=State4.svg");
}

.card__delete-btn {
  display: flex;
  margin: 0;
  padding: 0;
  background: transparent url("../images/State=Default.svg");
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  left: 371px;
  transition: 0.5s ease-in;
  border: none;
  z-index: 1;
}

.card__delete-btn:hover {
  background-image: url("../images/State=Hover.svg");
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    padding-left: 2px;
    font-size: 16px;
    line-height: 1;
  }

  .card__like-btn {
    padding-right: 20px;
  }

  .card__delete-btn {
    top: 10px;
    left: 246px;
  }
}
