.footer {
  padding: 45px 0 45px;
  background-color: rgba(252, 245, 229, 1);
  display: flex;
  justify-content: center;
}

.footer__content {
  text-wrap: nowrap;
  width: 104px;
  height: 16px;
}

.footer__text {
  color: rgba(33, 33, 33, 0.7);
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}
