.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(33, 33, 33, 0.7);
  display: flex;
  z-index: 2;
  padding: 0 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.5s linear;
}

.modal_opened {
  visibility: visible;
  pointer-events: all;
  opacity: 1;
}

.modal__container {
  background-color: rgba(255, 255, 255, 1);
  padding: 32px 50px;
  max-width: 730px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  border-radius: 8px;
}

.modal__container_type_preview {
  padding: 0;
  background: none;
}

.modal__image {
  max-height: 80vh;
  max-width: 80vw;
  overflow: hidden;
  background-color: transparent;
  border: none;
  object-fit: contain;
  border-radius: 8px;
  width: 100%;
}

.modal__caption {
  position: relative;
  max-width: 135px;
  text-align: center;
  text-wrap: nowrap;
  background: rgba(33, 33, 33, 1);
  color: rgba(255, 255, 255, 1);
  box-sizing: border-box;
  border-radius: 8px;
  padding: 4px 8px 4px;
  margin: 4px 0 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  left: 108px;
}

.modal__close-btn {
  position: absolute;
  padding: 0;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background-image: url(../images/Close\ Icon.svg);
  border: none;
  color: rgba(33, 33, 33, 1);
  background-color: rgba(255, 255, 255, 1);
}

.modal__close-btn_type_preview {
  background: transparent url(../images/Close\ Icon\ 2.svg);
  position: relative;
  padding: 0;
  margin: 0 auto;
  top: 40px;
  left: 640px;
  opacity: 1;
  height: 40px;
  width: 40px;
}

.modal__close-btn:hover {
  opacity: 1;
  cursor: pointer;
}

.modal__title {
  margin: 0 0 32px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  color: rgba(33, 33, 33, 0.7);
  font-weight: 500;
  font-size: 16px;
  line-height: 17.6px;
}

.modal__input {
  padding: 16px 12px;
  border-radius: 8px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  color: rgba(33, 33, 33, 1);
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
}

.modal__submit-btn {
  width: 156px;
  padding: 18px 0;
  background-color: rgba(33, 33, 33, 1);
  border-radius: 8px;
  color: rgba(252, 245, 229, 1);
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
}

.modal__submit-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .modal {
    padding: 0 10px;
  }

  .modal__container {
    padding: 12px;
  }

  .modal__title {
    font-size: 20px;
    margin: 10px 0 34px;
  }

  .modal__close-btn {
    top: 10px;
    right: 12px;
  }

  .modal__label {
    margin-bottom: 24px;
  }

  .modal__input {
    font-size: 16px;
  }

  .modal__submit-btn {
    width: 100%;
  }

  .modal__image {
    max-width: 288px;
    max-height: 426.57px;
    border-radius: 4px;
  }

  .modal__caption {
    width: 111px;
    height: 27px;
    font-size: 16px;
    line-height: 19.2px;
    top: 0;
    left: 0px;
  }

  .modal__close-btn_type_preview {
    top: 0;
    left: 236px;
  }
}
